### Miscellaneous
.DS_Store
Thumbs.db
node_modules/
/vendor/

### IDE
.idea/

### Environment Credentials
/.env
.env

### Classic WP ###
/public/license.txt
/public/wp-config-sample.php
/public/wp-content/*
!/public/wp-content/languages/
!/public/wp-content/plugins/
!/public/wp-content/themes/